*,
::before,
::after {
	box-sizing: border-box;
	word-break: break-word;
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	object-fit: cover;
}

button,
input,
textarea {
	border: none;
	outline: none;
	font-family: inherit;
	background: none;
	color: inherit;
}

button {
	cursor: pointer;
}
